br
hr
.copyright
    - var hexoURL = "https://hexo.io/";
    - var mobiURL = "http://getmobicss.com/";
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year}   Base on #[a(href=hexoURL, target="_blank") Hexo] and #[a(href=mobiURL, target="_blank") Mobi.css].